@import "variables";
@import "normalize";
@import "helpers";
@import "fonts";
@import "popups";
@import "slick";
@import "nouislider";
@import "animate";

html {
    font-size: 10px;
    font-family: 'Proxima Nova', Arial;
    font-weight: 400;
}
body {
    .fsize(20);
    * {
        box-sizing: border-box;
    }
}
.main-wrapper {
    overflow: hidden;
}
.container {
    margin: auto;
    max-width: 1200px;
}

.section {

}
.section-intro {
    background: url(../img/intro-bg.jpg) center/cover no-repeat;
}
.section-strategy {
    padding: 13.6rem 0 9.8rem;
}
.section-benefits {
    padding: 7.8rem 0 6.2rem;
    background: url(../img/sect-benefit-bg.jpg) center/cover no-repeat;
}
.section-about-us {
    padding: 9.6rem 0 5rem;
}
.section-sochi-benefits {
    padding: 10rem 0 3.8rem;
    .section-title {
        margin-bottom: 8rem;
    }
}
.section-reasons {
    padding: 4rem 0 14.5rem;
    .container {
        position: relative;
    }
    .section-title {
        margin-bottom: 8rem;
    }
}
.section-cooperation {
    padding: 9rem 0 6rem;
}
.section-faq {
    padding: 4rem 0 0;
    .section-title {
        margin-bottom: 4rem;
    }
}
.section-slider {
    position: relative;
    .section-title {
        position: absolute;
        z-index: 2;
        top: 2rem;
        left: 9%;
    }
}
.section-text {
    padding: 10rem 0 7rem;
    .section-title {
        margin-bottom: 3.5rem;
    }
    &--reviews {
        padding: 10rem 0 10rem;
        .section-title {
            line-height: 2.2;
        }
    }
    &--change-life {
        .section-title {
            line-height: 2.2;
        }
        p {
            margin: 0 0 2.5rem;
            max-width: 49%;
        }
    }
}
.section-objections {
    padding: 2rem 0 10rem;
    .container {
        position: relative;
    }
}
.section-calculator {
    padding: 5rem 0 3rem;
}
.section-contacts {
    padding: 7.5rem 0 6rem;
    background: @blue;
    .section-title {
        font-weight: 400;
    }
}



.main-logo {
    display: inline-block;
    width: 11.3rem;
    text-decoration: none;
    img {
        display: block;
        max-width: 100%;
    }
}
header {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
}
.intro-blocks {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    &:before {
        content: '';
        display: inline-block;
        background: url(../img/arrow-down.svg) 100% 100% no-repeat;
        position: absolute;
        z-index: 1;
        width: 1.8rem;
        height: 1rem;
        bottom: 3.6rem;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
    }
}
.intro-block {
    position: relative;
    width: 50%;
    height: 35rem;
    color: @white;
    cursor: pointer;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        height: 100%;
        width: 1000px;
        background: none;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        -ms-transition: background 0.3s ease-in-out;
        -o-transition: background 0.3s ease-in-out;
        transition: background 0.3s ease-in-out;
    }
    &:nth-child(1) {
        border-right: 1px solid fade(#fff, 25%);
        border-bottom: 1px solid fade(#fff, 25%);
        &:before {
            right: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 1000px;
            bottom: -1px;
            right: 100%;
            background: fade(#fff, 25%);
        }
        .intro-hover__num {
            left: 0;
        }
        .intro-hover__benefits {
            left: 0;
            right: 2.2rem;
        }
    }
    &:nth-child(2) {
        border-left: 1px solid fade(#fff, 25%);
        border-bottom: 1px solid fade(#fff, 25%);
        &:before {
            left: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 1000px;
            bottom: -1px;
            left: 100%;
            background: fade(#fff, 25%);
        }
        .intro-hover__num {
            left: 6rem;
        }
        .intro-block__title {
            right: 0;
        }
        .intro-hover__benefits {
            left: 6rem;
            right: 0;
        }
    }
    &:nth-child(3) {
        border-top: 1px solid fade(#fff, 25%);
        border-right: 1px solid fade(#fff, 25%);
        &:before {
            right: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 1000px;
            top: -1px;
            right: 100%;
            background: fade(#fff, 25%);
        }
        .intro-hover__num {
            left: 0;
        }
        .intro-hover__benefits {
            left: 0;
            right: 2.2rem;
        }
    }
    &:nth-child(4) {
        border-top: 1px solid fade(#fff, 25%);
        border-left: 1px solid fade(#fff, 25%);
        &:before {
            left: 100%;
        }
        &:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 1000px;
            top: -1px;
            left: 100%;
            background: fade(#fff, 25%);
        }
        .intro-block__title {
            right: 0;
        }
        .intro-hover__num {
            left: 6rem;
        }
        .intro-hover__benefits {
            left: 6rem;
            right: 0;
        }
    }
    &__title {
        position: absolute;
        top: 3.3rem;
        right: 2.3rem;
        margin: 0;
        font-weight: 600;
        .fsize(18);
        text-transform: uppercase;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -16px;
            width: 16px;
            height: 2px;
            background: @white;
        }
    }

    &.can-hover {
        &:hover {
            background: @blue;
            &:before {
                background: @blue;
            }
            .intro-block__hover {
                opacity: 1;
            }
        }
    }
}
.intro-block__hover {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    will-change: opacity;
}
.intro-hover {
    pointer-events: none;
    &__num {
        position: absolute;
        top: 3.4rem;
        left: 6rem;
        font-weight: 700;
        .fsize(24);
        i {
            position: absolute;
            top: 4px;
            left: -28px;
            display: inline-block;
            width: 15px;
            height: 18px;
            background: url(../img/icon-house.svg) 100% no-repeat;
        }
    }
    &__benefits {
        display: block;
        position: absolute;
        bottom: 3.5rem;
        left: 6rem;
        right: 0;
    }
    &__benefit {
        display: block;
        margin: 2.2rem 0 0;
        .clearfix;
        strong {
            display: block;
            .fsize(32);
            font-weight: 700;
        }
        small {
            display: block;
            .fsize(12);
            font-weight: 400;
        }
        .icon-arrow-up {
            display: inline-block;
            margin: 0 0 0 0.2rem;
            width: 13px;
            height: 23px;
            background: url(../img/icon-arrow-up.svg) 100% no-repeat;
        }
    }


}
.section-title {
    display: inline-block;
    position: relative;
    margin: 0;
    text-transform: uppercase;
    .fsize(30);
    line-height: 1.6;
    font-weight: 600;
    letter-spacing: 1.1rem;
    color: @black;
    span {
        color: @title-blue;
        &.dark {
            color: @title-blue-dark;
        }
    }
    &.decored {
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 7.9rem;
            height: 2px;
            background: @title-blue;
        }
        &-bottom {
            &:after {
                position: static;
                margin: 1.7rem 0 0;
            }
        }
        &-right {
            &:after {
                top: 50%;
                right: -11.5rem;
                -webkit-transform: translate(0, -50%);
                -moz-transform: translate(0, -50%);
                -ms-transform: translate(0, -50%);
                -o-transform: translate(0, -50%);
                transform: translate(0, -50%);
            }
        }
        &-right-bottom {
            &:after {
                display: inline-block;
                position: static;
                vertical-align: top;
                margin: 3.1rem 0 0;
            }
        }
    }
    &.light {
        letter-spacing: 1.5rem;
        font-weight: 600;
        color: @white;
    }
    .decor {
        display: inline-block;
        vertical-align: top;
        margin: 1.3rem 0 0 0.5rem;
        width: 7.9rem;
        height: 2px;
        background: @title-blue;
        &.long {
            margin: 3.1rem 0 0 3.5rem;
            width: 16rem;
        }
    }
    &.slide-2-title {
        font-weight: 400;
        line-height: 1.6;
    }
}
.section-strategy__text {
    display: block;
    width: 55%;
    margin: 3rem 0 0;
    color: #2d2d2d;
    .fsize(20);
    letter-spacing: 1px;
}
.btn {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 1.7rem 7.5rem;
    background: @btn-bg;
    border: none;
    text-align: center;
    text-transform: uppercase;
    color: @white;
    text-decoration: none;
    .fsize(14);
    letter-spacing: 0.75px;
    cursor: pointer;
    outline: none;
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background: @buttonHover;
        -webkit-transition: width 0.75s @buttonEase;
        transition: width 0.75s @buttonEase;
    }
    &:hover {
        &:before {
            width: 100%;
        }
    }
    &:active {
        top: 1px;
        box-shadow: inset 0 0.3rem 0.7rem darken(@btn-bg, 40%);
    }
    &.btn-strategy {
        float: right;
        vertical-align: top;
        margin-top: 4rem;
    }
    &.btn-counter {
        .fsize(20);
    }
    &.btn-change-life {
        float: right;
        .fsize(20);
    }
    &.btn-contacts {
        vertical-align: top;
        margin: -0.75rem 0 0;
        float: right;
        .fsize(20);
        letter-spacing: 0.3rem;
        color: @blue;
        background: @white;
        i {
            display: inline-block;
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            vertical-align: top;
            margin: -0.1rem 0 0 1rem;
            width: 13px;
            height: 23px;
            background: url(../img/icon-arrow-up-blue.svg) 100% no-repeat;
        }
        &:before {
            background: darken(@white, 10%);
        }
    }
}
.benefits-wrap {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0 0;
}
.benefit-item {
    position: relative;
    display: inline-block;
    height: 17.5rem;
    width: 21.25%;
    border: 2px solid #AFAFAF;
    color: @white;
    .fsize(18);
    &__num {
        position: absolute;
        left: 1.3rem;
        top: -2.5rem;
        font-weight: 700;
        .fsize(36);
    }
    &__text {
        margin: 0;
        .centered;
        display: inline-block;
        position: relative;
    }
}
.team-members {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0 0;
}
.team-member {
    position: relative;
    display: inline-block;
    width: 35%;
    color: #000;
    &__image {
        display: block;
        width: 100%;
    }
    &__name {
        display: block;
        margin: 3rem 0 0;
        .fsize(24);
        font-weight: 600;
    }
    &__descrip {
        display: block;
        margin: 1.6rem 0 0;
        font-weight: 400;
        .fsize(20);
    }
    &__link {
        display: inline-block;
        margin: 4.6rem 0 0;
        text-decoration: none;
        font-weight: 600;
        .fsize(20);
        color: @blue;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
    &__decor {
        position: absolute;
        display: block;
    }
    &:nth-child(1) {
        .team-member__decor {
            right: -11rem;
            top: 22rem;
            height: 2px;
            width: 22rem;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            background: #2CD5D5;
        }
    }
    &:nth-child(2) {
        .team-member__decor {
            width: 5.6rem;
            height: 5.6rem;
            border-radius: 50%;
            left: 2rem;
            top: -2.8rem;
            border: 3px solid #7EE5E5;
        }
    }
}
.sochi-benefits {
    display: inline-block;
    width: 24%;
}
.sochi-benefit {
    display: block;
    margin: 7.5rem 0 0;
    &:first-child {
        margin-top: 12rem;
    }
    &__num {
        display: block;
        margin: 0;
        .fsize(14);
        color: @blue;
        font-weight: 700;
    }
    &__text {
        display: block;
        margin: 2.6rem 0 0;
        .fsize(16);
        font-weight: 400;
    }
}
.sochi-benefit-image {
    position: relative;
    display: inline-block;
    width: 63%;
    float: right;
    img {
        display: block;
    }
}
.sochi-benefit-decor {
    position: absolute;
    display: block;
    &.circle {
        width: 8.3rem;
        height: 8.3rem;
        top: 23rem;
        left: -6.4rem;
        border: 3px solid #7EE5E5;
        border-radius: 50%;
    }
    &.line {
        right: -11rem;
        top: 0;
        height: 2px;
        width: 22rem;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        background: #2CD5D5;
    }
}
.reasons-wrap {
    display: flex;
    justify-content: space-between;
    &.big {
        .reason-item {
            height: 16rem;
        }
    }
}
.reason-item {
    position: relative;
    display: inline-block;
    width: 17.5%;
    height: 14.4rem;
    cursor: pointer;
    &__num {
        position: absolute;
        z-index: 3;
        left: 1.5rem;
        top: -1.6rem;
        font-weight: 700;
        .fsize(24);
        color: #514EFF;
    }
    &__text {
        z-index: 3;
        margin: 0;
        .centered;
        .fsize(16);
        display: inline-block;
        position: relative;
    }
    &:before {
        content: '';
        position: absolute;
        overflow: hidden;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgb(157,140,255); /* Old browsers */
        background: -moz-linear-gradient(45deg,  rgba(157,140,255,1) 0%, rgba(121,237,238,1) 78%); /* FF3.6-15 */
        background: -webkit-linear-gradient(45deg,  rgba(157,140,255,1) 0%,rgba(121,237,238,1) 78%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(45deg,  rgba(157,140,255,1) 0%,rgba(121,237,238,1) 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9d8cff', endColorstr='#79edee',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
    .color-border {
        position: absolute;
        overflow: hidden;
        z-index: 1;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        &:before {
            content: '';
            position: absolute;
            background: #f3f3f3;
            width: 150%;
            height: 200%;
            -webkit-transform: rotate(45deg) translate(-24%, -5%);
            transform: rotate(45deg) translate(-24%, -5%);
            -webkit-transition: transform 0.75s ease-in-out;
            transition: transform 0.75s ease-in-out;
            will-change: transform;
        }
        &:after {
            content: '';
            display: block;
            top: 2px;
            right: 2px;
            bottom: 2px;
            left: 2px;
            position: absolute;
            background: #fff;
        }
    }
    &:hover {
        .color-border {
            &:before {
                -webkit-transform: rotate(45deg) translate(70%, -5%);
                transform: rotate(45deg) translate(70%, -5%);
            }
        }
    }
}
.reasons-decor {
    position: absolute;
    display: block;
    z-index: -1;
    &.circle {
        width: 8.3rem;
        height: 8.3rem;
        top: 16rem;
        right: 3.5rem;
        border: 3px solid #7EE5E5;
        border-radius: 50%;
    }
    &.line {
        left: 8.1rem;
        top: 0.7rem;
        height: 2px;
        width: 29rem;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        background: #7EE5E5;
    }
}
.cooperation-blocks {
    margin: 12.5rem 0 0;
    .clearfix;
    &.showBlocks {
        .cooperation-block {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
}
.cooperation-block {
    position: relative;
    z-index: 1;
    display: inline-block;
    vertical-align: top;
    width: 47%;
    height: 37.6rem;
    border: 4px solid fade(@black, 5%);
    background: @white;
    &:nth-child(1) {
        float: left;
        margin-top: auto;
        &:before {
            content: '';
            position: absolute;
            z-index: 0;
            right: 100%;
            top: -7rem;
            width: 700px;
            height: 4px;
            -webkit-transform: rotate(30deg) translate(7.5%, 0);
            -moz-transform: rotate(30deg) translate(7.5%, 0);
            -ms-transform: rotate(30deg) translate(7.5%, 0);
            -o-transform: rotate(30deg) translate(7.5%, 0);
            transform: rotate(30deg) translate(7.5%, 0);
            background: fade(@black, 5%);
        }
        &:after {
            content: '';
            position: absolute;
            z-index: 0;
            left: 100%;
            top: 27rem;
            width: 20%;
            height: 4px;
            -webkit-transform: rotate(30deg) translate(-5%, 0);
            -moz-transform: rotate(30deg) translate(-5%, 0);
            -ms-transform: rotate(30deg) translate(-5%, 0);
            -o-transform: rotate(30deg) translate(-5%, 0);
            transform: rotate(30deg) translate(-5%, 0);
            background: fade(@black, 5%);
        }
    }
    &:nth-child(2) {
        -webkit-transform: translate(-13.5%, 0);
        transform: translate(-13.5%, 0);
        float: right;
        margin-top: 22rem;
        -webkit-transition: transform 2s ease-in-out;
        transition: transform 2s ease-in-out;
        &:after {
            content: '';
            position: absolute;
            z-index: 0;
            left: 100%;
            top: 32rem;
            width: 700px;
            height: 4px;
            -webkit-transform: rotate(30deg) translate(-7.5%, 0);
            -moz-transform: rotate(30deg) translate(-7.5%, 0);
            -ms-transform: rotate(30deg) translate(-7.5%, 0);
            -o-transform: rotate(30deg) translate(-7.5%, 0);
            transform: rotate(30deg) translate(-7.5%, 0);
            background: fade(@black, 5%);
        }
    }
    &__title {
        position: absolute;
        .fsize(14);
        left: 0;
        top: -2rem;
        letter-spacing: 0.5rem;
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
        span {
            color: #5CDABA;
        }
    }
    &__text {
        width: 80%;
        margin: 0;
        .centered;
        .fsize(16);
    }
    &__btn {
        position: absolute;
        bottom: -2px;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
        -o-transform: translate(-50%, 0);
        transform: translate(-50%, 50%);
        &:active {
            position: absolute;
            top: auto;
            margin-top: 1px;
        }
    }
}
.faq-image {
    display: inline-block;
    width: 37%;
    &.image-1 {
        float: left;
        margin-right: 10%;
        margin-bottom: 3rem;
        img {
            float: right;
        }
    }
    &.image-2 {
        float: right;
        margin-top: 12rem;
        width: 39.5%;
    }
}
.faq-item {
    display: inline-block;
    width: 46%;
    margin: 7rem 0 0;
    &.wide {
        width: 100%;
    }
    &:first-child {
        margin-top: 0;
    }
    &__num {
        display: block;
        margin: 0 0 1rem;
        color: @blue;
        .fsize(36);
        font-weight: 700;
    }
    &__title {
        display: block;
        margin: 0 0 2.2rem;
        .fsize(24);
        font-weight: 600;
    }
    &__text {
        display: block;
        margin: 0 0 2rem;
        .fsize(20);
    }
    &__link {
        display: inline-block;
        color: @blue;
        .fsize(20);
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
.slider-wrap {
    position: relative;
}
.slider-grid {
    .h {
        position: absolute;
        z-index: 2;
        left: 0;
        width: 100%;
        height: 1px;
        background: #D8D8D8;
        opacity: 0.25;
        &.h1 {
            top: 20%;
        }
        &.h2 {
            top: 40%;
        }
        &.h3 {
            top: 60%;
        }
        &.h4 {
            top: 80%;
        }
        &.h5 {
            top: 100%;
        }
    }
    .v {
        position: absolute;
        z-index: 2;
        top: 0;
        height: 100%;
        width: 1px;
        background: #D8D8D8;
        opacity: 0.25;
        &.v1 {
            left: 20%;
        }
        &.v2 {
            left: 40%;
        }
        &.v3 {
            left: 60%;
        }
        &.v4 {
            left: 80%;
        }
    }
}
.slider-nav {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 20%;
    background: @white;
    &-item {
        position: relative;
        display: inline-block;
        float: left;
        height: 100%;
        line-height: 100%;
        .fsize(20);
        font-weight: 600;
        text-transform: uppercase;
        color: @black;
        text-align: center;
        cursor: pointer;
        span {
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -moz-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            -o-transform: translate(0, -50%);
            transform: translate(0, -50%);
            width: 100%;
            color: @black;
            text-decoration: none;
            -webkit-transition: color 0.25s ease-in-out;
            -moz-transition: color 0.25s ease-in-out;
            -ms-transition: color 0.25s ease-in-out;
            -o-transition: color 0.25s ease-in-out;
            transition: color 0.25s ease-in-out;
        }
        i {
            display: inline-block;
            font-style: normal;
            text-align: left;
        }
        &:hover {
            span {
                color: @blue;
            }
        }
        &.active {
            cursor: default;
            span {
                color: @blue;
            }
        }

    }
    &.slides-4 {
        .slider-nav-item {
            width: 25%;
        }
    }
    &.slides-3 {
        z-index: 2;
        .slider-nav-item {
            width:33.333%;
        }
        .slider-nav-grid {
            .v1 {
                left: 33.333%;
            }
            .v2 {
                left: 66.666%;
            }
        }
    }
    .slider-nav-grid {
        .v {
            position: absolute;
            top: 0;
            height: 100%;
            width: 1px;
            background: #D8D8D8;
            opacity: 0.25;
        }
    }
}
.slide-info {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
    background: @blue;
    width: 20%;
    height: 60%;
    color: @white;
    &__title {
        position: absolute;
        top: 2.7rem;
        left: 6.6rem;
        font-weight: 400;
        .fsize(16);
        text-transform: uppercase;
        i {
            position: absolute;
            top: -1px;
            left: -36px;
            display: inline-block;
            width: 15px;
            height: 18px;
            background: url(../img/icon-house.svg) 100% no-repeat;
        }
    }
    &__benefits {
        display: block;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
        right: 2rem;
    }
    &__benefit {
        display: block;
        margin: 2rem 0 0;
        .clearfix;
        span {
            display: inline-block;
        }
        @media (max-width: 1600px) {
            > div {
                width: 50%;
            }
        }
        @media (max-width: 1600px) {
            margin: 1rem 0 0;
        }
        strong {
            display: block;
            .fsize(32);
            font-weight: 700;
            @media (max-width: 1600px) {
                .fsize(20);
            }
        }
        small {
            display: block;
            .fsize(12);
            font-weight: 400;
            @media (max-width: 1600px) {
                .fsize(11);
            }
        }
        .icon-arrow-up {
            display: inline-block;
            margin: 0 0 0 0.2rem;
            @media (max-width: 1600px) {
                vertical-align: top;
            }
            width: 13px;
            height: 23px;
            background: url(../img/icon-arrow-up.svg) 100% no-repeat;
        }
    }
}
.slide-title {
    position: absolute;
    left: 9%;
    .fsize(92);
    font-weight: 700;
    color: @white;
    @media (max-width: 1600px) {
        .fsize(72);
    }
}
.cases-slider {
    .slide-title {
        bottom: 40%;
        line-height: 0.7;
    }
}
.invest-slider {
    .slide-title {
        bottom: 28%;
        line-height: 1.2;
    }
}
.button-with-counter {
    display: inline-block;
    float: right;
}
.button-counter {
    margin: 1rem 0 0;
    text-align: center;
    text-transform: uppercase;
    .fsize(20);
    font-weight: 600;
    span {
        color: @blue;
    }
}
.counter-text {
    margin: 0;
    display: inline-block;
    max-width: 55%;
    p {
        margin-top: 0;
    }
}
.objection-item {
    position: relative;
    display: block;
    width: 57rem;
    padding: 4rem 4.5rem;
    margin: 7.5rem 0 0;
    border: 2px solid fade(@black, 5%);
    &__num {
        display: inline-block;
        position: absolute;
        left: 4rem;
        top: -2.4rem;
        color: @blue;
        .fsize(36);
        font-weight: 700;
    }
    &__title {
        display: block;
        margin: 0 0 1.7rem;
        font-weight: 600;
        .fsize(21);
    }
    &__text {
        display: block;
        margin: 0 0 2.3rem;
        .fsize(18);
        line-height: 1.3;
    }
    &__link {
        color: @blue;
        text-decoration: none;
        cursor: pointer;
        &:hover {
            text-decoration: underline;
        }
    }
}
.objections-decor-1 {
    position: absolute;
    right: -2.5rem;
    top: 22rem;
    width: 14rem;
    height: 14rem;
    border: 3px solid #7EE5E5;
    border-radius: 50%;
}
.objections-decor-2 {
    position: absolute;
    right: 2.5rem;
    top: 29rem;
    width: 14rem;
    height: 14rem;
    border: 3px solid #7EE5E5;
    border-radius: 50%;
}
.calculator-profit {
    padding: 2rem 0 0;
}
.calculator-item {
    margin: 3rem 0 0;
    &__label {
        margin: 0 0 3rem;
        .fsize(18);
        font-weight: 700;
    }
}
.range-result {
    .fsize(18);
    text-align: center;
}
.calculator-result {
    text-align: center;
    margin: 4rem 0 0;
    p {
        margin: 0;
        .fsize(18);
        font-weight: 700;
    }
    .result {
        display: inline-block;
        color: @blue;
        .fsize(72);
        font-weight: 600;
    }
}


.contacts-items {
    margin: 7.5rem 0 0;
    display: flex;
    justify-content: space-between;
}
.contacts-item {
    display: inline-block;
    color: @white;
    .fsize(20);
    font-weight: 200;
    small {
        display: block;
        margin: 0 0 0.3rem;
        text-transform: uppercase;
        .fsize(12);
    }
    a {
        color: @white;
        text-decoration: none;
    }
    address {
        font-style: normal;
    }
}
footer {
    padding: 7rem 0 5rem;
    background: @footer-bg;
}
.footer-logo {
    display: inline-block;
    width: 11.3rem;
    img {
        width: 100%;
    }
}
.requisites {
    display: inline-block;
    margin: 0;
    float: right;
    font-weight: 200;
    .fsize(18);
    color: @white;
}

.showOnScroll {
    opacity: 0;
    will-change: transform;
}
.text-hidden {
    position: relative;
    overflow: hidden;
    &__text {
        display: block;
        -webkit-transform: translate(0, 140%);
        transform: translate(0, 140%);
        -webkit-transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &.text-visible {
        .text-hidden__text {
            -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
        }
    }
}
.absolute {
    position: absolute;
}

.noUi-target {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        z-index: 2;
        display: block;
        background: #fff;
        right: 0;
        top: -10px;
        height: 22px;
        width: 100%;
        -webkit-transition: width 3s cubic-bezier(0.165, 0.84, 0.44, 1);
        transition: width 3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    &.showRange {
        &:before {
            width: 0;
        }
    }
}


