@baseFont: 10;
.fsize(@sizeValue: @baseFont, @content: @baseFont) {
    @remValue: @sizeValue/10;
    font-size: ~"@{remValue}rem";
}
.width(@childWidth, @parentWidth) {
    width: (@childWidth/@parentWidth)*100%;
}

/*colors*/
@white: #fff;
@black: #000;
@blue: #4969F8;
@title-blue: #1375FF;
@title-blue-dark: #3367A6;
@btn-bg: #4969F8;